<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DesktopAppGimnasioGenerica.Properties.Settings.SQLConnection"
            connectionString="Data Source=LAPTOP-7IRK3HN6\SQLEXPRESS;Initial Catalog=gimnasio;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;" />
    </connectionStrings>
</configuration>